.zine-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  flex-grow: 1;
}

.zine img {
  width: 100%;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

.body-lg {
  font-size: 20px;
}
