.prose {
  --prose-font-size: var(--text-lg);
  --prose-primary-text-color: var(--color-green-900);
  /* --prose-secondary-text-color: var(--color-gray-600); */
  /* --prose-tertiary-text-color: var(--color-gray-500); */
  --prose-border-color: var(--color-gray-300);
  --prose-background-color: var(--color-gray-200);
  --prose-link-color: var(--color-green-600);

  --space-half: calc(var(--prose-font-size) * 2 / 8);
  --space-1: calc(var(--prose-font-size) * 4 / 8);
  --space-2: calc(var(--prose-font-size) * 7 / 8);
  --space-3: calc(var(--prose-font-size) * 11 / 8);
  --space-4: calc(var(--prose-font-size) * 14 / 8);
  --space-5: calc(var(--prose-font-size) * 18 / 8);

  font-size: var(--prose-font-size);
}

.prose > :first-child {
  margin-block-start: 0;
}

/* paragraphs */
.prose > p {
  margin-block-start: var(--space-2);
  color: var(--prose-primary-text-color);
  line-height: var(--text-lg--line-height);
}

/* headings */
.prose h2,
.prose h3 {
  font-weight: 600;
  color: var(--prose-primary-text-color);
}

.prose h2 {
  font-size: 1.35em;
  margin-block-start: var(--space-5);
  line-height: 1.35;
}

.prose h3 {
  font-size: 1.095em;
  margin-block-start: var(--space-4);
  line-height: 1.45;
}

/* lists */
.prose ul,
.prose ol {
  margin-block-start: var(--space-1);
  padding-inline-start: var(--space-3);
}

.prose ul {
  list-style: disc;
}

.prose ul ul {
  list-style: circle;
}

.prose ul ul ul {
  list-style: square;
}

.prose ol {
  list-style: decimal;
}

.prose ::marker {
  color: var(--prose-tertiary-text-color);
}

.prose ol > li {
  padding-inline-start: 4px;
}

.prose ul li {
  padding-inline-start: var(--space-half);
}
.prose ul li::marker {
  font-size: 0.8em;
}

/* small space between items to make it easier to distinguish from items that have two lines. */
.prose li + li {
  margin-block-start: var(--space-half);
}
.prose ul ul,
.prose ul ol,
.prose ol ol,
.prose ol ul {
  margin-block-start: var(--space-half);
}

/* horizontal ruler */
.prose hr {
  margin-block: var(--space-4);
  border-block-start: 1px solid var(--prose-border-color);
}

/* blockquote */
.prose blockquote {
  padding-inline-start: var(--space-2);
  border-inline-start: 3px solid var(--prose-border-color);
  color: var(--prose-secondary-text-color);
  margin-block-start: var(--space-3);
  position: relative;
}

/* code */
.prose code {
  font-family: "Source Code Pro", Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  border-radius: var(--radius-md);
  font-size: 0.875em;
  padding: 2px 4px;
  margin: 0;
  background-color: var(--prose-background-color);
}

.prose pre {
  margin-block-start: var(--space-3);
}

.prose pre code {
  display: block;
  padding: var(--space-1) var(--space-2);
  overflow: auto;
}

/* images */
.prose img,
.prose iframe {
  max-inline-size: 100%;
  margin-block: var(--space-3);
}

.prose iframe {
  border-radius: var(--radius-sm);
  aspect-ratio: 16 / 9;
  inline-size: 100%;
}

.prose li img {
  margin-block: var(--space-2);
}

/* headings in relation to other tags */
.prose h2 + * {
  margin-block-start: var(--space-1) !important;
}

.prose h2 + h3 {
  margin-block-start: var(--space-3) !important;
}

.prose h3 + * {
  margin-block-start: var(--space-1) !important;
}

/* bold and italics */
.prose b,
.prose b *:not(a),
.prose strong,
.prose strong *:not(a) {
  /* font-weight: 600; */
  /* color: var(--prose-primary-text-color); */
  color: var(--color-green-600);
  font-weight: inherit;
}

.prose em {
  font-style: italic;
}

/* links */
.prose a,
.prose a * {
  color: var(--prose-link-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.prose a:hover,
.prose a:hover * {
  text-decoration: none;
}

/* tables */

.prose table {
  table-layout: fixed;
  inline-size: 100%;
  border: 1px solid var(--prose-border-color);
}

.prose thead {
  background-color: var(--prose-background-color);
}

.prose thead:has(th:empty) {
  display: none;
}

.prose tr {
  border-block-end: 1px solid var(--prose-border-color);
}

.prose th {
  font-weight: 600;
}

.prose td,
.prose th {
  padding: var(--space-1);
  text-align: left;
}

.prose td:first-child,
.prose th:first-child {
  inline-size: 33%;
}

.prose td + td,
.prose th + th {
  border-inline-start: 1px solid var(--prose-border-color);
}
