@import "tailwindcss";
@import "./theme.css";

@layer components {
  @import "./zine.css";
  @import "./markdown.css";

  [data-button-card]::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  [x-cloak] {
    display: none !important;
  }
}
