@import "tailwindcss";
@import "./theme.css";

@layer utilities {
  .grid-overlap {
    & > * {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }
}

@layer components {
  @import "./zine.css";
  @import "./markdown.css";

  [data-button-card]::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  [x-cloak] {
    display: none !important;
  }
}
