@theme inline {
  --breakpoint-xs: 28rem; /* 448px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 44rem; /* 704px */
  --breakpoint-lg: 56rem; /* 896px */
  --breakpoint-xl: 70rem; /* 1120px */

  --text-icon: var(--text-icon);
  --text-icon--line-height: 1;
  --text-3xl: var(--text-3xl);
  --text-3xl--line-height: 1;
  --text-2xl: var(--text-2xl);
  --text-2xl--line-height: 1.15;
  --text-xl: var(--text-xl);
  --text-xl--line-height: 1.3;
  --text-lg: var(--text-lg);
  --text-lg--line-height: 1.3;
  --text-base: var(--text-base);
  --text-sm: var(--text-sm);

  --container-*: initial;
  --container-narrow: 48rem;
  --container-base: 81.5rem;
  --container-wide: 100vw;
  --container-content: 32ch;

  --z-nav: 50;

  --shadow-*: initial;
  --shadow-zine: 0.5px 0.5px 1px lch(0% 0 0 / 0.1), 1px 1px 12px -4px lch(0% 0 0 / 0.2);
  --shadow-page: 0.33px 0.33px 1px lch(0% 0 0 / 0.1), 0.75px 0.75px 0.75px lch(0% 0 0 / 0.1);
  --shadow-button: 0 1px rgb(0 0 0 / 0.05);

  --color-*: initial;
  --color-inherit: inherit;
  --color-transparent: transparent;

  --color-neutral: Black;
  --color-neutral-light: color-mix(in oklab, var(--color-neutral), white 50%);
  --color-neutral-lighter: color-mix(in oklab, var(--color-neutral), white 66%);
  --color-surface: Gainsboro;
  --color-surface-light: color-mix(in oklab, var(--color-surface), white 70%);
  --color-surface-lighter: color-mix(in oklab, var(--color-surface), white 86%);
  --color-link: #0000ee;
  --color-link-visited: #551a8b;
  --color-validation: FireBrick;

  --spacing-site-inline: var(--space-site-inline);
  --spacing-nav: var(--space-nav);
  --spacing-section: var(--space-section);
  --spacing-section-title: var(--space-section-title);
  --spacing-item: calc(var(--space-section-title) / 1.5);
  --spacing-item-sm: calc(var(--space-section-title) / 3);
  --spacing-dialog-inline: var(--space-dialog-inline);
  --spacing-dialog-block: var(--space-dialog-block);
  --spacing-tube: var(--space-tube);
  --spacing-indent: 1.5ch;
  --spacing-navbar-height: var(--navbar-height);

  --spacing-block-size-nav: var(--block-size-nav);

  --perspective-zine: 2000px;
  --aspect-zine: 5.5 / 4.25;
  --aspect-square: 1;

  --duration-*: initial;
  --duration-zine: 1000ms;

  --ease-*: initial;
  --ease-zine: cubic-bezier(0, 0, 0.2, 1);

  --radius-*: initial;
  --radius: 3px;
  --animate-marquee: marquee var(--animate-duration, 1s) infinite linear;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@utility animate-duration-* {
  --animate-duration: calc(--value(integer) * 1s);
}
