:root {
  color-scheme: light;
  --icon-size: 1.45em;

  --body-sm: 17px;
  --body-base: 20px;

  --heading-sm: 20px;
  --heading-base: 27px;
  --heading-lg: 42px;
  --heading-xl: 56px;
  --heading-2xl: clamp(75px, 11vw, 10rem);

  --space-site-inline: 1rem;
  --space-nav: 0.75rem;
  --space-section: 4.5rem;
  --space-section-title: 1.25rem;
  --space-dialog-inline: 1.25rem;
  --space-dialog-block: 2.5rem;
  --space-tube-base: 3rem;
  --space-tube-sm: 2.5rem;

  /* > md */
  @media screen and (min-width: 36rem) {
    --space-tube: 3.25rem;
    --block-size-nav: 5.5rem;
  }

  /* > md */
  @media screen and (min-width: 44rem) {
    --body-sm: 18px;
    --body-base: 22px;

    --heading-sm: 22px;
    --heading-base: 32px;
    --heading-xl: 72px;

    --space-site-inline: 2rem;
    --space-section: 6.5rem;
    --space-dialog-inline: 2rem;
    --space-dialog-block: 3rem;
  }

  /* > lg */
  @media screen and (min-width: 56rem) {
    --space-site-inline: 3rem;
    --space-nav: 1rem;
    --space-section: 8rem;
    --space-section-title: 1.75rem;
    --space-dialog-inline: 3.5rem;
    --space-dialog-block: 3.5rem;
    --space-tube-base: 3.5rem;
  }

  /* > xl */
  @media screen and (min-width: 70rem) {
  }
}

@theme inline {
  /* Breakpoints ----------------------------------------------------------------------------------------------------------------------- */

  --breakpoint-xs: 28rem; /* 448px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 44rem; /* 704px */
  --breakpoint-lg: 56rem; /* 896px */
  --breakpoint-xl: 70rem; /* 1120px */

  /* Typography ------------------------------------------------------------------------------------------------------------------------ */

  --font-display: sans-serif;
  --font-body: sans-serif;

  --text-body-sm: var(--body-sm);
  --text-body-sm--line-height: 1.5;
  --text-body-base: var(--body-base);
  --text-body-base--line-height: 1.45;

  --text-heading-sm: var(--heading-sm);
  --text-heading-sm--line-height: 1.3;
  --text-heading-base: var(--heading-base);
  --text-heading-base--line-height: 1.3;
  --text-heading-lg: var(--heading-lg);
  --text-heading-lg--line-height: 1.3;
  --text-heading-xl: var(--heading-xl);
  --text-heading-xl--line-height: 1.15;
  --text-heading-2xl: var(--heading-2xl);
  --text-heading-2xl--line-height: 1;

  /* Container ------------------------------------------------------------------------------------------------------------------------- */

  --container-*: initial;
  --container-narrow: 48rem;
  --container-base: 81.5rem;
  --container-content: 32ch;

  /* Elevation --------------------------------------------------------------------------------------------------------------------------*/

  --z-lowered: -10;
  --z-elevated: 20;
  --z-sticky: 30;
  --z-top: 40;
  --z-top-elevated: 50;

  /* Effects --------------------------------------------------------------------------------------------------------------------------- */

  --shadow-*: initial;
  --shadow-zine: 0.5px 0.5px 1px lch(0% 0 0 / 0.1), 1px 1px 12px -4px lch(0% 0 0 / 0.2);
  --shadow-page: 0.33px 0.33px 1px lch(0% 0 0 / 0.1), 0.75px 0.75px 0.75px lch(0% 0 0 / 0.1);
  --shadow-button: 0 1px rgb(0 0 0 / 0.05);

  /* Spacing --------------------------------------------------------------------------------------------------------------------------- */

  --spacing-inherit: inherit;
  --spacing-cqi: 100cqi;
  --spacing-site-inline: var(--space-site-inline);
  --spacing-nav: var(--space-nav);
  --spacing-section: var(--space-section);
  --spacing-section-title: var(--space-section-title);
  --spacing-item: calc(var(--space-section-title) / 1.5);
  --spacing-item-sm: calc(var(--space-section-title) / 3);
  --spacing-dialog-inline: var(--space-dialog-inline);
  --spacing-dialog-block: var(--space-dialog-block);
  --spacing-tube-base: var(--space-tube-base);
  --spacing-tube-sm: var(--space-tube-sm);
  --spacing-indent: 1.5ch;
  --spacing-navbar-height: var(--space-navbar-height);
  --spacing-dvh--navbar: calc(100dvh - var(--space-navbar-height));
  --spacing-block-size-nav: var(--block-size-nav);

  /* Color ----------------------------------------------------------------------------------------------------------------------------- */

  /* Raw --------------------------------------- */

  --color-*: initial;
  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-neutral: Black;
  --color-surface: Gainsboro;
  --color-blue: #0000ee;
  --color-red: FireBrick;

  /* Text ------------------------------------ */

  --color-t-neutral: var(--color-neutral);
  --color-t-neutral-light: color-mix(in oklab, var(--color-neutral), white 50%);
  --color-t-neutral-lighter: color-mix(in oklab, var(--color-neutral), white 66%);
  --color-t-neutral-lightest: color-mix(in oklab, var(--color-neutral), white 85%);
  --color-t-surface-light: color-mix(in oklab, var(--color-surface), white 70%);
  --color-t-surface-lighter: color-mix(in oklab, var(--color-surface), white 86%);
  --color-t-link: var(--color-blue);
  --color-t-validation: var(--color-red);

  /* Border ------------------------------------ */

  --color-border-neutral: var(--color-neutral);
  --color-border-neutral-light: color-mix(in oklab, var(--color-neutral), white 50%);
  --color-border-neutral-lighter: color-mix(in oklab, var(--color-neutral), white 66%);
  --color-border-neutral-lightest: color-mix(in oklab, var(--color-neutral), white 85%);
  --color-border-surface-light: color-mix(in oklab, var(--color-surface), white 70%);
  --color-border-surface-lighter: color-mix(in oklab, var(--color-surface), white 86%);

  /* Background ------------------------------------ */

  --color-bg-neutral: var(--color-neutral);
  --color-bg-neutral-light: color-mix(in oklab, var(--color-neutral), white 50%);
  --color-bg-neutral-lighter: color-mix(in oklab, var(--color-neutral), white 66%);
  --color-bg-neutral-lightest: color-mix(in oklab, var(--color-neutral), white 85%);
  --color-bg-surface-light: color-mix(in oklab, var(--color-surface), white 70%);
  --color-bg-surface-lighter: color-mix(in oklab, var(--color-surface), white 86%);

  /* Perspective ---------------------------------------------------------------------------------------------------------------------- */

  --perspective-zine: 2000px;

  /* Radii ---------------------------------------------------------------------------------------------------------------------- */

  --radius-*: initial;
  --radius: 3px;

  /* Aspect ratio ---------------------------------------------------------------------------------------------------------------------- */

  --aspect-zine: 5.5 / 4.25;
  --aspect-square: 1;

  /* Animations ------------------------------------------------------------------------------------------------------------------------ */

  --duration-*: initial;
  --default-transition-duration: 100ms;
  --duration-zine: 1000ms;

  --ease-*: initial;
  --default-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  --ease-zine: cubic-bezier(0, 0, 0.2, 1);

  --animate-marquee: marquee var(--animate-duration, 1s) infinite linear;
  --animate-spin: spin var(--animate-duration, 1s) infinite linear;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(359deg);
    }
  }
}

/* Utility classes ---------------------------------------------------------------------------------------------------------------------- */

@utility bg-* {
  background-color: --value(--color-bg-*);
}
@utility border-* {
  border-color: --value(--color-border-*);
}
@utility text-* {
  color: --value(--color-t-*);
  line-height: --value(--text-* --line-height);
}

@utility text-icon {
  transform-origin: top;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  font-family: "Material Symbols Sharp";
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  text-decoration: none !important;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0;
}

@utility animate-duration-* {
  --animate-duration: calc(--value(integer) * 1s);
}

@utility grid-overlap {
  & > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}

@utility gap-inherit {
  gap: inherit;
}
