{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/button.njk" import button, buttonMeta %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "button",
    meta: buttonMeta
}) %}
    <div
        x-data="{toggleValue: false}"
        class="flex flex-wrap gap-item justify-around w-full items-center">
        {{ button({label: "Button", type: "button", size: "base"}) }}
        {{ button({label: "With icon", type: "button", size: "base", icon:"keyboard_arrow_down", iconPosition:"end"}) }}
        {{ button({type: "button", size: "base", icon:"content_copy", tooltip: "Copy"}) }}
        {{ button({toggleValue:"toggleValue", label: {on:"Toggleable", off:"Toggleable"}, type: "button", size: "base", icon: {on:"check_circle", off:"circle"} }, {"@click": "toggleValue = !toggleValue"}) }}
        {{ button({label: "Small button", type: "button", size:"sm"}) }}
        {{ button({label: "Link", type: "link", size: "base"}) }}
        {{ button({label: "Large link", type: "link", size:"lg"}) }}
    </div>
{% endcall %}
