{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/drawer.njk" import drawer, drawerMeta %}
{% from "components/container.njk" import container %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "drawer",
    meta: drawerMeta
}) %}
    {% call drawer(
        props={
            alignment: "top",
            triggerProps: {label:{off:"Open top drawer", on:"Close drawer"}, type:"button", size:"sm"}
        },
        attrs={}
        ) %}
        <div>Some</div>
        <div>content</div>
        <div>inside</div>
        <div>the drawer</div>
    {% endcall %}
    {% call drawer(
        props={
            alignment: "bottom",
            triggerProps: {label:{off:"Open bottom drawer", on:"Close drawer"}, type:"button", size:"sm"}
        },
        attrs={}
        ) %}
        {% call container({size:"base", type:"cols-1"},{class:"gap-4"}) %}
            <div>Some</div>
            <div>content</div>
            <div>inside</div>
            <div>the drawer</div>
        {% endcall %}
    {% endcall %}
    {% call drawer(
        props={
            alignment: "left",
            triggerProps: {label:{off:"Open left drawer", on:"Close drawer"}, type:"button", size:"sm"}
        },
        attrs={}
        ) %}
        {% call container({size:"base", type:"cols-1"},{class:"gap-4"}) %}
            <div>Some</div>
            <div>content</div>
            <div>inside</div>
            <div>the drawer</div>
        {% endcall %}
    {% endcall %}
    {% call drawer(
        props={
            alignment: "right",
            triggerProps: {label:{off:"Open right drawer", on:"Close drawer"}, type:"button", size:"sm"}
        },
        attrs={}
        ) %}
        {% call container({size:"base", type:"cols-1"},{class:"gap-4"}) %}
            <div>Some</div>
            <div>content</div>
            <div>inside</div>
            <div>the drawer</div>
        {% endcall %}
    {% endcall %}
{% endcall %}
