{# Nested Components -------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/marquee.njk" import marquee, marqueeMeta %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% call componentDocumentation({
    title: "marquee",
    meta: marqueeMeta
}) %}
    {% call marquee({
        duration: "5s",
        itemGap: "gap-site-inline",
        mask: true,
        pauseOnHover: true
    },{
        class:"w-full"
    }) %}
        <li class="text-heading-base">This is a repeating message!</li>
    {% endcall %}
{% endcall %}
