---
layout: base
---
{% from "components/button.njk" import button %}
{% from "components/dropdown.njk" import dropdown %}
{% from "components/carousel.njk" import carousel %}
{% from "components/sectionHeader.njk" import sectionHeader %}
{% from "components/siteNav.njk" import siteNav with context %}
{% from "components/blocks.njk" import container %}

{% call siteNav({
    links: [
     { macro: button, props:{ label: "Most recent zines", href:"#recentZines", size:"lg", type:"link"}, attrs:{class:"max-lg:hidden"} },
     { macro: button, props:{ label:"All zines", href:"#allZines", size:"lg", type:"link"}, attrs:{class:"max-lg:hidden"} }
    ]
}) %}
    {% include "components/submissionDialog.njk" %}
{% endcall %}

<main class="flex flex-col gap-section py-section grow w-full">
    <header id="hero">
        {% call container({}, {class:"text-pretty flex flex-col gap-10"}) %}
            <h1 class="lg:-ml-2 text-2xl flex sm:flex-row justify-between flex-col gap-1 sm:gap-2 items-baseline">
                <span class="shrink-0">Zine Store</span>
                <span class="max-sm:hidden">•</span>
                <span class="text-xl sm:text-2xl">(Free)</span>
            </h1>
            <p class="text-lg max-w-2xl">{{ global.siteDescription }}</p>
        {% endcall %}
    </header>

    <section id="recentZines">
        {% call container({}, {class:"flex flex-col gap-section-title"}) %}
            {% call sectionHeader({label: "Most recent zines"}) %}
                <div class="hidden sm:block">
                    {% for zine in collections.zine | reverse | slice(1) %}
                        Last contribution: {{ zine.date | date("MM/dd/yyyy") }}
                    {% endfor %}
                </div>
            {% endcall %}
            {% call carousel({},{class:"gap-item-gap py-2"}) %}
                {% for zine in collections.zine | reverse | slice(4) %}
                    <a data-zine-shading class="relative hover:scale-[1.01] shadow-zine w-[70cqi] max-w-[312px]" href="{{ zine.url }}">
                        <img class="w-full shadow-page border border-dark-grey" src="{{ global.imagesFolder }}/{{ zine.fileSlug }}/{{ zine.data.pages[0].image }}.jpg" alt="{{ zine.data.title }}"></a>
                {% endfor %}
            {% endcall %}
        {% endcall %}
    </section>

    <section id="allZines">
        {% set data %}
            {
                {% set comma = joiner() %}
                zines: [{% for zine in collections.zine %} {{ comma() }} '{{ zine.url }}' {% endfor %}],
                chooseRandom () {
                    window.location.href = this.zines[Math.floor(Math.random() * this.zines.length)];
                }
            }
        {% endset %}
        {% call container({}, {class:"flex flex-col gap-section-title", "x-data": data }) %}
            {% call sectionHeader({label: "All zines (A-Z)"}) %}
                <div class="hidden xs:block">{{ button({label: "Read random zine", type: "button", size:"base"}, {"@click": "chooseRandom"}) }}</div>
            {% endcall %}
            <ul class="grid gap-x-item-gap gap-y-section-title max-xs:list-disc" style="grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );">
                {% for zine in collections.zine | sort(false, false, "data.title") %}
                    <li class="xs:flex flex-col gap-item-sm relative items-start max-w-max max-xs:ml-[1.25ch]">
                        <div data-zine-shading class="max-xs:hidden relative shadow-zine">
                            <img class="w-full shadow-page border border-dark-grey" src="{{ global.imagesFolder }}/{{ zine.fileSlug }}/{{ zine.data.pages[0].image }}.jpg" alt="{{ zine.data.title }}">
                        </div>
                        {% call button({type:"link", href:zine.url, size:"sm"},{class: "text-left scale-none! max-xs:hidden"}) %}
                            <span class="absolute inset-0"></span>
                            <span>{{ zine.data.title }}</span>
                        {% endcall %}
                        {{ button({label:zine.data.title, type:"link", href:zine.url}, {class: "text-left xs:hidden"}) }}
                    </li>
                {% endfor %}
            </ul>
            {{ button({label: "Read random zine", type: "button", size:"base"}, {"@click": "chooseRandom", class:"xs:hidden"}) }}
        {% endcall %}
    </section>


</main>
