---
layout: default
eleventyExcludeFromCollections: true
---
{% from "components/button.njk" import button %}

<section class="zine-store-container gap-section-title grid my-section">
    <iframe name="per-h-c&#39;è-niente" width="100%" height="100%" src="https://zinestorefree.com/zine/per-h-non-ce-niente/?embed=true" allow="clipboard-write" marginwidth="0" marginheight="0" style=" border: 1px solid darkGray; max-width: 900px; max-height: 800px; aspect-ratio: 1 / 1.8;"></iframe>
</section>
