{% from "components/dropdown.njk" import dropdown %}
{% from "components/button.njk" import button %}

<div x-data="{
        show: true,
        windowWidth: window.innerWidth,
        getWidth() {
            window.addEventListener('resize', () => {
                this.windowWidth = window.innerWidth
            })
        }
    }"
    x-init="getWidth"
    x-show="show"
    class="fixed rounded-tr bottom-0 left-0 flex items-center gap-1 z-50 text-sm py-1 pl-2 pr-1 bg-gainsboro/25 backdrop-blur-sm border-dark-grey border-t border-r">
    <span class="flex w-full mr-1">
        <span class="xs:hidden">XS-</span>
        <span class="hidden xs:max-sm:block">XS-SM</span>
        <span class="hidden sm:max-md:block">SM-MD</span>
        <span class="hidden md:max-lg:block">MD-LG</span>
        <span class="hidden lg:max-xl:block">LG-XL</span>
        <span class="hidden xl:block">XL+</span>
        <span>&nbsp;•&nbsp;</span>
        <span x-text="windowWidth"></span>
        <span>px</span>
    </span>
    {{ dropdown(
        props={position:["top", "left"]},
        triggerProps={label: "Development", type: "button", size:"sm"},
        dropdownItems=[
            { macro: button, props:{label:"Components", type:"link", size:"base"}, attrs:{href:"/components"} },
            { macro: button, props:{label:"Markdown", type:"link", size:"base"}, attrs:{href:"/markdown-test"} },
            { macro: button, props:{label:"Testing", type:"link", size:"base"}, attrs:{href:"/testing"} }
        ]
    )}}
    {{ button({icon:"×", type:"button", size:"sm"}, {@click:"show = false", title:"Close visualizer"}) }}
</div>
