{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/markdown.njk" import markdown %}
{% from "components/icon.njk" import icon %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro accordion(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set accordionStyles = "py-item border-b border-neutral-lighter first:-mt-item" %}
{% set summaryStyles = "font-semibold underline-offset-3 decoration-from-font gap-3 hover:underline" %}
{% set contentStyles = "pt-item text-body-sm" %}

<style>
    summary::-webkit-details-marker { display: none }
</style>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-accordion {{ loopAttrs() }} class="flex flex-col {{attrs.class}}">
    {% for item in props.accordionItems %}
            <details
            {% if item.isOpen %}open{% endif %}
            {{ loopAttrs(item.attrs) }}
            class="w-full flex flex-col group {{ accordionStyles }} {{ item.attrs.class }}">
            <summary class="flex items-center justify-start appearance-none cursor-pointer {{ summaryStyles }}">
                {{ icon(props={glyph: "arrow_right"} ,attrs={class:"group-open:hidden"}) }}
                {{ icon(props={glyph: "arrow_drop_down"} ,attrs={class:"hidden group-open:block"}) }}
                <h2>{{ item.title }}</h2>
            </summary>

            {{ markdown({content: item.elaboration, transform: true },{class: contentStyles }) }}

        </details>
    {% endfor %}
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set accordionMeta = {
args: '{{ accordion(
    props={
        accordionItems: [{
            title: "",
            elaboration: "",
            isOpen: false
        }]
    },
    attrs={}
) }}'
} %}
