{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set accordionMeta = {
args: '{{ accordion(
    props={
        accordionItems: [{
            title: "",
            description: "",
            isOpen: false
        }]
    },
    attrs={}
) }}'
} %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro accordion(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

<style>
    summary:hover > h2 {
        text-decoration: underline;
    }
    summary::-webkit-details-marker { display: none }
</style>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-accordion {{ loopAttrs() }} class="flex flex-col {{attrs.class}}">
    {% for item in props.accordionItems %}
        <details {% if item.isOpen %}open{% endif %} class="w-full group border-b border-neutral-lighter first:-mt-item">
            <summary class="flex text-base justify-between gap-item py-item cursor-pointer appearance-none">
                    <h2 class="font-semibold underline-offset-3 decoration-from-font">{{ item.title }}</h2>
                    <span class="block text-icon group-open:hidden">&plus;</span>
                    <span class="hidden text-icon group-open:block">&minus;</span>
            </summary>

            <section class="pb-item text-sm">
               {{ item.description | safe }}
            </section>
        </details>
    {% endfor %}
</div>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}
