{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
{% from "components/markdown.njk" import markdown %}

{# Component --------------------------------------------------------------------------------------------------------------------------- #}

{% macro announcementBanner(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set styleClasses = "bg-dark-grey py-2 border-y border-dotted border-grey" %}

{% set position %}
    {% if props.position === "bottom" %}
        fixed bottom-0
    {% else %}
        sticky top-0
    {% endif %}
{% endset %}

{% if props.position === "bottom" %}
    <style>
        body:has([data-announcement-banner].bottom-0) {
            --announcementBannerBlockSize: 4rem;
        }
    </style>
{% endif %}
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<template
    x-data="{ showBanner: $persist(true).as('{% if props.storageKey %}{{ props.storageKey }}{% else %}announcementBanner{% endif %}').using(sessionStorage) }"
    x-if="showBanner">
    <div
        data-announcement-banner
        {% include "snippets/loopAttrs.njk" %}
        class="w-full {{ position }} z-40 {{ styleClasses }} {{ attrs.class }}">
        {% call container() %}
            <div class="flex justify-between items-center">
                {% if caller %}
                    {{ caller() | safe }}
                {% else %}
                    {{ markdown({content: props.content, transform: true},{class:"grow text-center line-clamp-1"}) }}
                {% endif %}
                {{ button({icon:"×", type:"button", size:"sm"},{@click:"showBanner = !showBanner", title:"Close announcement banner"}) }}
            </div>
        {% endcall %}
    </div>
</template>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set announcementBannerMeta = {
    args: '{{ announcementBanner(
    props={
        content: "",
        position: "top | bottom"
    },
    attrs={}
) }}',
description: "
- Default to using `content` prop for markdownified text, but you can use `{% call %}` to insert custom content.
- The close button currently resets the hidden state when the tab is closed.
"
} %}
