

{% macro section(props={}, attrs={})%}
    <{% if props.tag %}{{ props.tag }}{% else %}section{% endif %}
        {% for key, value in attrs %}
            {% if key != 'class' %}{{ key }}="{{ value }}"{% endif %}
        {% endfor %}
        class="w-full {{ attrs.class }}">
        {{ caller() | safe }}
    </{% if props.tag %}{{ props.tag }}{% else %}section{% endif %}>
{% endmacro %}


{% set containerWidths =
    {
        "sm": "var(--container-sm)",
        "base": "var(--container-base)"
    }
 %}
{% macro container(props={}, attrs={})%}
    <div
        {% for key, value in attrs %}
            {% if key != 'class' %}{{ key }}="{{ value }}"{% endif %}
        {% endfor %}
        class="zine-store-container mx-auto max-w-[{% if props.size %}{{containerWidths[props.size]}}{% else %}{{ containerWidths.base }}{% endif %}] grid
            {% if props.cols %}lg:grid-cols-{{ props.cols }}{% endif%}
            {{ attrs.class }}">
        {{ caller() | safe }}
    </div>
    {# {{ containerWidths }} #}
{% endmacro %}
