<div class="fixed z-20 text-sm pt-1">
    <span class="xs:hidden">XS-</span>
    <span class="hidden xs:max-sm:block">XS-SM</span>
    <span class="hidden sm:max-md:block">SM-MD</span>
    <span class="hidden md:max-lg:block">MD-LG</span>
    <span class="hidden lg:max-xl:block">LG-XL</span>
    <span class="hidden xl:block">XL+</span>
</div>
