{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro button(props={},attrs={}) %}

{# Values ----------- #}

{% set types = {
    button: {
        styles: "text-neutral font-bold leading-none bg-surface-light hover:bg-surface-lighter border-1 border-neutral-lighter hover:border-neutral-light shadow-button rounded",
        sizes: {
            base: "text-base min-w-15 min-h-tube py-3.5 px-[var(--button-space)]",
            sm: "text-sm h-10 px-[var(--button-space)]",
            fab: "text-base rounded-full p-4 aspect-square shadow-zine"
        },
        variants: {}
    },
    link: {
        styles: "text-link underline hover:no-underline underline-offset-3 decoration-1",
        sizes: {
            inherit: "",
            base: "text-base",
            sm: "text-sm",
            lg: "text-base font-bold decoration-from-font"
        },
        variants: {}
    }
} %}

{# ------------------ #}

<{% if attrs.href %}a{% else %}button{% endif %} data-button
    class="shrink-0 disabled:opacity-60 active:scale-[.98] active:inline-block cursor-pointer {{ attrs.class }} {% if attrs.disabled %}pointer-events-none{% endif %}
    {{ types[props.type].styles }} {{ types[props.type].sizes[props.size] }} {{ types[props.type].variants[props.variant] }}"
    {{ loopAttrs(attrs) }}
    style="--button-space: {% if props.size === "sm" %}4px{% elseif props.size === "base" %}8px{% endif %}"
>
    {% if props.icon or props.label %}
        <span class="flex items-center justify-center">
            {% if props.icon %}
                <span class="text-icon">{{ props.icon }}</span>
            {% endif %}
            {% if props.label %}
                <span class="px-[var(--button-space)]">{{ props.label }}</span>
            {%- endif -%}
        </span>
    {% endif %}

    {%- if not props.label and not props.icon -%}
        {% if caller %}
            {{ caller() | safe }}
        {% endif %}
    {%- endif -%}

</{% if attrs.href %}a{% else %}button{% endif %}>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set buttonMeta = {
    args: '{{ button(
    props={
        label: "",
        type: "button | link",
        size: "base | lg | sm | inherit",
        icon: ""
    },
    attrs={}
) }}',
description: "
- Tag defaults to `button` unless you provide a `href`, then it'll be an `a` tag.
- Optionally you can use `{% call %}` to give custom inner HTML.
"
} %}
