{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro carousel(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set carouselStyles = "border border-neutral-lighter bg-neutral" %}
{% set controlsStyles = "opacity-30 p-3 lg:py-4 lg:px-5" %}
{% set indicatorRowStyles = "rounded-full bg-surface-light border-neutral-lighter border px-1.5 py-1.5 @md:px-2 @md:py-2 gap-1 @md:gap-1.5" %}
{% set indicatorStyles = "size-1.5 @md:size-2 checked:bg-neutral bg-neutral/50 rounded-full" %}
{% set buttonProps = {
    type: "button",
    size: "sm"
} %}
{% set buttonStyles = "min-h-[max(15cqi,_64px)]" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    data-carousel
    x-data="{
        currentSlideIndex: 1,
        previous() {
            if (this.currentSlideIndex > 1) {
                this.currentSlideIndex = this.currentSlideIndex - 1
            } else {
                // If it's the first slide, go to the last slide
                this.currentSlideIndex = {{ props.slides | length }}
            }
        },
        next() {
            if (this.currentSlideIndex < {{ props.slides | length }}) {
                this.currentSlideIndex = this.currentSlideIndex + 1
            } else {
                // If it's the last slide, go to the first slide
                this.currentSlideIndex = 1
            }
        },
    }"
    {{ loopAttrs(attrs) }}
    class="@container group relative w-full overflow-hidden {{ attrs.class }} {{ carouselStyles }}">

    <div class="grid grid-cols-[auto_1fr_auto] justify-between items-center pointer-coarse:opacity-100 group-hover:opacity-100 absolute inset-0 z-(--z-elevated) pointer-events-none transition-opacity group-hover:duration-150 duration-300 {{ controlsStyles }}">
        {{ button(
            props={
                type: buttonProps.type,
                size: buttonProps.size,
                icon: "arrow_back"
            },
            attrs={
                "aria-label":"Previous slide",
                "title":"Previous slide",
                "@click": "previous()",
                "class": buttonStyles + " col-start-1 pointer-events-auto"
            }
        ) }}
        {% if props.indicators %}
            <div class="flex justify-self-center self-end justify-center {{ indicatorRowStyles }}" role="group" aria-label="slides" >
                {% for slide in props.slides %}
                    <div x-data="{ id: $id('carousel-radio')}" class="flex">
                        <input
                            :checked="currentSlideIndex === {{ loop.index }}"
                            x-on:change="currentSlideIndex = {{ loop.index }}"
                            :id="id"
                            type="radio"
                            name="id"
                            value="View slide {{ loop.index }}"
                            class="{{ indicatorStyles }} appearance-none pointer-events-auto"/>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {{ button(
            props={
                type: buttonProps.type,
                size: buttonProps.size,
                icon: "arrow_forward"
            },
            attrs={
                "aria-label":"Next slide",
                "title":"Next slide",
                "@click": "next()",
                "class": buttonStyles + " col-start-3 pointer-events-auto"
            }
        ) }}

    </div>

    <div class="relative grid grid-overlap">
        {{ caller() }}
    </div>

</div>

{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% macro carouselSlide(props={}, attrs={}) %}

    <div
        x-show="currentSlideIndex == {{ props.loop.index }}"
        x-transition.opacity.duration.600ms
        {{ loopAttrs(attrs) }}
        class="{{ attrs.class }}">
        {{ caller() }}
    </div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set carouselMeta = {
    args: '{% call carousel(
    props={
        slides: [],
        indicators: true | false
    },
    attrs={}
) %}
    {% from "components/carousel.njk" import carouselSlide %}
    {% for slide in slides %}
        {% call carouselSlide({loop:loop}) %}
            {# slide content #}
        {% endcall %}
    {% endfor %}
{% endcall %}',
description: ""
} %}
