{% from "components/blocks.njk" import container %}
{% from "components/markdown.njk" import markdown %}
{% from "components/copyToClipboard.njk" import copyToClipboard, copyToClipboardMeta %}
{% from "components/button.njk" import button %}
{% from "components/accordion.njk" import accordion %}
{% from "components/drawer.njk" import drawer %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% macro componentDocumentation(props={
    title: "copyToClipboard",
    meta: copyToClipboardMeta
}) %}
        <div id="{{ props.title }}" class="grid w-full border-b border-dotted border-dark-grey py-dialog-block gap-section-title max-w-[var(--container-sm)]">
            <h3 class="text-lg lg:list-disc lg:list-item">{{ props.title }}.njk</h3>
            <div class="flex flex-col gap-dialog-block overflow-hidden text-lg">
                {% if props.meta.description %}
                    <div class="flex flex-col gap-item-gap">
                        {# <h4 class="text-base font-semibold w-full group">Implementation notes</h4> #}
                        {% call markdown() %}
                            {{ props.meta.description | trim | markdownify | safe }}
                        {% endcall %}
                    </div>
                {% endif %}
                <div class="flex flex-col gap-item-sm">
                    <h4 class="text-base font-semibold">Import code</h4>
                    {% call copyToClipboard({copyRef: "copyMe", toastMessage: "Copied import code to clipboard!"}, {class:"relative"}) %}
                        {% call markdown({transfrom: true}) %}
                            <pre><code x-ref="copyMe" class="leading-relaxed">{% raw %}{%{% endraw %} from "components/{{ props.title }}.njk" import {{ props.title}} {% raw %}%}{% endraw %}</code></pre>
                        {% endcall %}
                        {{ button({size:"sm", label: "Copy", type: "button"},{@click:"copy", class:"absolute top-2 right-2"}) }}
                    {% endcall %}
                </div>
                <div class="flex flex-col gap-item-sm">
                    <h4 class="text-base font-semibold">Arguments</h4>
                        {% call copyToClipboard({copyRef: "copyMe", toastMessage: "Copied instance to clipboard!"}, {class:"relative"}) %}
                            {% call markdown({transfrom: true}) %}
                                <pre><code x-ref="copyMe" class="leading-relaxed">{{ props.meta.args }}</code></pre>
                            {% endcall %}
                            {{ button({size:"sm", label: "Copy", type: "button"},{@click:"copy", class:"absolute top-2 right-2"}) }}
                        {% endcall %}
                </div>
                {% set htmlDescription %}
                    <div class="flex flex-col gap-item-sm">
                        <div class="grid grid-cols-1 place-items-center place-content-center gap-item-gap border border-dark-grey rounded p-dialog-inline grow">
                            {{ caller() | safe }}
                        </div>
                    </div>
                {% endset %}
                {{ accordion({accordionItems:[
                    {"isOpen": false, title: "Example", description: htmlDescription}]
                }) }}
            </div>
        </div>

{% endmacro %}
