{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro dialog(props={}, attrs={}) %}

{# Values ----------- #}

{% set dialogStyles = "bg-surface mt-section mb-auto backdrop:bg-neutral/35 shadow-zine w-[calc(100%-2*var(--spacing-site-inline))] border border-neutral-light" %}

{# ------------------ #}

<div
    data-dialog
    x-data="{close() {$refs.dialog.close()}}"
    {{ loopAttrs(attrs) }}
    class="{{ attrs.class }}">
    {{ button(props=props.triggerProps, attrs={"@click": "$refs.dialog.showModal()"}) }}

    <dialog
        closedby={% if props.closedBy %}{{ props.closedBy }}{% else %}"any"{% endif %}
        x-ref="dialog"
        class="{{ attrs.class }} {{ dialogStyles }} flex overflow-x-hidden overflow-y-auto open:visible invisible flex-col items-center p-0 mb-auto mx-auto inset-0">
        {{ caller() | safe }}
    </dialog>
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set dialogMeta = {
    args: '{% call dialog(
    props={
        closedBy: "any" | "none",
        triggerProps: {}
    },
    attrs={}
) %}
{% endcall %}',
description: "
- `props.triggerProps` is the props object for the `button` component that opens the `dialog`.
-  Give an element inside the `dialog` the `close()` event to make it close the `dialog`.
- `props.closedBy: 'none'` makes it so the escape key won't close the `dialog`.
"
} %}
