{#
    Dialog
#}

{% from "components/button.njk" import button %}

{% macro dialog(
    props={},
    attrs={},
    triggerProps={}
) %}
    <div x-data {% include "snippets/loopAttrs.njk" %}>
        {{ button(props=triggerProps, attrs={"@click": "$refs.dialog.showModal()"}) }}

        <dialog
            closedby="any"
            x-ref="dialog"
            class="{{ attrs.class }} flex overflow-x-hidden overflow-y-auto open:visible invisible flex-col items-center bg-gainsboro p-0 mt-[calc(var(--spacing-dialog-block)+1dvh)] mb-auto mx-auto inset-0 backdrop:bg-black/35 shadow-zine w-[calc(100%-2*var(--spacing-site))] border border-grey">
            {{ caller() | safe }}
        </dialog>
    </div>
{% endmacro %}
