{#
    Drawer

    @param triggerProps = {} // props for the button component that triggers the dropdown
    @param drawerItems = [] // array of macros (objects) that should be rendered inside the dropdown panel
#}

{% from "components/button.njk" import button %}

{% macro drawer(triggerProps={}, drawerItems=[],attrs={}) %}
    <div
        data-drawer
        x-data="{
            drawerOpen: false,
            toggleDrawer() {
                if (this.drawerOpen) {
                    return this.close()
                }
                this.$refs.trigger.focus()
                this.drawerOpen = true;
                scrollable = false;
            },
            close(focusAfter) {
                if (! this.drawerOpen) return
                this.drawerOpen = false
                scrollable = !scrollable;
                focusAfter && focusAfter.focus()
            },
        }"
        x-on:resize.window.debounce="close()"
        x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        class="flex {{ attrs.class }}">

        {% set newProps = {toggleValue:"drawerOpen", label:triggerProps.label, icon:triggerProps.icon, size:triggerProps.size, type:triggerProps.type}  %}
        {{ button(props=newProps, attrs={class:"flex-grow", "@click": "toggleDrawer()", "x-ref":"trigger"}) }}
        <div
            x-cloak
            x-show="drawerOpen"
            x-transition:enter-start="opacity-0 -translate-y-4"
            x-transition:leave-end="opacity-0 -translate-y-4"
            class="flex flex-col grow absolute left-0 h-dvh -z-10 w-full top-[calc(100%+1px)] transition">
            <nav
                x-ref="panel"
                @click="if($event.target !== $refs.panel && $event.target.tagName.toLowerCase() === 'a') { close($refs.button) }"
                @click.outside="close($refs.trigger)"
                class="bg-surface px-site-inline py-[max(var(--spacing-section-title),var(--spacing-site-inline))] border-b border-neutral-lighter border-dotted grid content-center items-stretch gap-section-title">
                {% if caller %}
                    {{ caller() | safe }}
                {% else %}
                    <ul>
                        {% for item in drawerItems %}
                            <li>{{ item.macro(item.props, item.attrs) }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>
            <div class="bg-neutral/35 grow"></div>
        </div>
    </div>

{% endmacro %}
