{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro dropdown(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set popoverStyleClasses = "bg-surface-light border border-neutral-lighter px-5 py-3 shadow-zine" %}
{% set dropdownOpenStyleClasses = "" %}
{% set listStyles = "list-disc gap-item-sm *:ml-[1.25ch]" %}

{# Other ------------------ #}

{% set position %}
    {% if props.position.includes("top") %}
        bottom-[anchor(top)] mb-3xs top-unset
    {% endif %}
    {% if props.position.includes("bottom") %}
        mt-3xs top-[anchor(bottom)]
    {% endif %}
    {% if props.position.includes("right") %}
        right-[anchor(end)] left-unset
    {% endif %}
    {% if props.position.includes("left") %}
        left-[anchor(left)]
    {% endif %}
{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    data-dropdown
    x-data="{
        dropdownOpen: false,
        close() {
            if (! this.dropdownOpen) return
            this.$refs.popover.hidePopover()
            this.dropdownOpen = false
        },
    }"
    x-id="['dropdown']"
    {{ loopAttrs(attrs) }}
    :class="dropdownOpen && '{{ dropdownOpenStyleClasses }}'"
    class="relative max-w-full rounded-inherit {{ attrs.class }}"
    :style="{ 'anchor-name': '--' + $id('dropdown')}"
>
    {{ button(
        props=props.triggerProps,
        attrs={
            "x-ref": "button",
            ":aria-expanded": "dropdownOpen",
            ":aria-controls":"$id('dropdown')",
            "class": "w-full",
            ":popovertarget": "$id('dropdown')"
        })
    }}
    <div
        x-cloak
        x-ref="popover"
        x-on:focusin.window="! $refs.popover.contains($event.target) ? close() : null"
        @click.stop = "$event.target.tagName.toLowerCase() === 'a' && toggleDropdown"
        @beforetoggle="dropdownOpen = !dropdownOpen"
        popover
        role="menu"
        :id="$id('dropdown')"
        :style="{ 'position-anchor': '--' + $id('dropdown')}"
        class="absolute min-w-max max-w-full z-(--z-elevated) outline-none [position-try:flip-block,flip-inline] {{ popoverStyleClasses }} {{ position }}">
        <ul class="flex flex-col items-start {{ props.listStyles if props.listStyles else listStyles }}">
            {% if caller %}
                {{ caller() | safe }}
            {% else %}
                {% for item in props.dropdownItems %}
                    <li class="*:inline-block w-full">{{ item.macro(item.props, item.attrs | assign({"role": "menuitem"}) ) }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set dropdownMeta = {
    args: '{{ dropdown(
    props={
        position: ["top", "bottom", "left", "right"],
        dropdownItems:[
            { macro:button, props:{}, attrs:{} }
        ],
        triggerProps: {}
    },
    attrs={}
) }}',
description: "
- Defaults to displaying buttons in a list
- Can use `{% caller() %} instead for more complex inner components
- `position` is an array where you can set the relative positions to the trigger element.
"
} %}
