{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro fab(props={}, attrs={}) %}

{# Values ----------- #}

{% set themeStyles = "" %}

{# ------------------ #}

<div
    x-show="hasScrolled"
    x-transition:enter-start="translate-x-full opacity-0"
    x-transition:leave-end="translate-x-full opacity-0"
    {{ loopAttrs(attrs) }}
    class="fixed bottom-[calc(var(--spacing-site-inline)/2)] right-[calc(var(--spacing-site-inline)/2)] transition {{ attrs.class }} {{ themeStyles }}">
    {{ button({icon:"⇪",type:"button", size:"sm"},{title:"Scroll to top", "@click": "window.scrollTo({top: 0})", class:"rounded-full p-4! aspect-square shadow-zine"}) }}
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set fabMeta = {
    args: '{% call fab(
    props={
        input: "",
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}
