{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro scroller(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set scrollerStyles = "" %}

{# Defaults ------------------ #}

{% set value = "" if props.value else props.value %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    data-scroller
    {{ loopAttrs(attrs) }}
    class="relative grid grid-cols-subgrid w-stretch col-span-full
    {{ scrollerStyles }}
     {{ attrs.class }}
">
    <div data-scroller-mask-l class="grid-col-pl justify-self-start z-10 w-full max-w-[100px] bg-gradient-to-l to-(--color-bg-surface) from-(--color-bg-surface)/0 row-start-1 row-end-1"></div>
    <div data-scroller-mask-r class="grid-col-pr justify-self-end z-10 w-full max-w-[100px] bg-gradient-to-r to-(--color-bg-surface) from-(--color-bg-surface)/0 row-start-1 row-end-1"></div>
    <div data-scroller-inner class="overflow-x-auto grid grid-cols-subgrid col-span-full row-start-1 row-end-1 max-w-base justify-self-center w-full">

        <div class="grid-col-scroller w-fit pr-base-x max-w-[calc(var(--container-base)+var(--space-base-x))]">

            {{ caller() | safe }}

        </div>
    </div>
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set scrollerMeta = {
    args: '{% call scroller(
    props={
        input: "",
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}
