{% macro sectionHeader(props={}, attrs={}) %}
    <header
        {% include "snippets/loopAttrs.njk" %}
        class="flex justify-between border-dark-grey border-b border-dotted items-center sm:items-end gap-item-gap pb-item-gap {{ attrs.class }}">
    {% if props.label %}
        <h2 class="text-lg xs:list-item xs:list-disc xs:ml-indent">{{ props.label }}</h2>
    {% endif %}
    {% if caller %}
        {{ caller() | safe }}
    {% endif %}
    </header>
{% endmacro %}
