{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro section(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set sectionStyles = "w-full @container" %}
{% set paddingStyles =
    {
        "site": "px-site-inline grid-cols-[minmax(1px,var(--container-base))] justify-center",
        "none": ""
    }
 %}

{# Other ------------------ #}

{% set tag %}{% if props.tag %}{{ props.tag }}{% else %}section{% endif %}{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<{{ tag }} data-section
    {{ loopAttrs(attrs) }}
    class="
        grid
        {{ attrs.class }}
        {{ sectionStyles }}
        {% if props.padding %}{{paddingStyles[props.padding]}}{% else %}{{ paddingStyles.site }}{% endif %}
    ">
    {{ caller() | safe }}
</{{ tag }}>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set sectionMeta = {
    args: '{% call section(
    props={
        tag: "",
        padding: "site | none",
    },
    attrs={}
) %}
    {% call container(props={size: "", type: "", alignment: ""}, attrs={}) %}
    {% endcall %}
{% endcall %}',
description: "
- `props.tag` sets the HTML tag you want. Defaults to `section`
- `props.padding` sets whether the component's children should be full width or have some padding. The standard options are 'site' or 'none', but each website might have more options depending on its design.
- Direct children should probably only be the `container` component.
"
} %}
