{% from "components/button.njk" import button %}

{% macro siteNav(props={}) %}
    <nav class="zine-store-container shrink-0 flex items-baseline justify-between py-nav border-dark-grey max-lg:border-b border-dotted">
        <span class="flex justify-self-start gap-16">
            {{ button(props={label:"Home", href:"/", size:"lg", type:"link"}) }}
            {% for item in props.links %}
                {{ item.macro(item.props, item.attrs) }}
            {% endfor %}
        </span>
        <span class="flex justify-self-end">
            {% if caller %}
                {{ caller() | safe }}
            {% endif %}
        </span>
    </nav>
{% endmacro %}
