{% from "components/button.njk" import button %}

{% macro siteNav() %}
    <nav class="zine-store-container shrink-0 flex items-baseline justify-between py-nav">
        <span class="flex justify-self-start gap-16">
            {{button(label="Home", href="/", size="lg", type="link")}}
            {% if page.url == "/" %}
                {{button(label="Most recent zines", href="#recentZines", size="lg", type="link", class="hidden lg:flex")}}
                {{button(label="All zines", href="#allZines", size="lg", type="link", class="hidden lg:flex")}}
            {% endif %}
        </span>
        <span class="flex justify-self-end">
            {% if page.url == "/" %}
                {% include "components/submissionDialog.njk" %}
            {% else %}
                {{button(label="Download PDF", href=pdf, type="button", size="lg", attrs={download: null})}}
            {% endif %}
        </span>
    </nav>
{% endmacro %}
