{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro slider(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

<style>
    [data-slider] {
        anchor-name: --slider;

        > * {
            scroll-snap-align: center;
        }

        @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }

        &::scroll-button(*) {
            position: fixed;
            position-anchor: --slider;
            background: var(--color-bg-surface-light);
            border: 1px solid var(--color-border-neutral-lighter);
            box-shadow: var(--shadow-button);
            border-radius: var(--radius);
            min-height: var(--spacing-tube);
            aspect-ratio: 1 / 1;
            z-index: 11;
            transform-origin: top;
            text-box-trim: trim-both;
            text-box-edge: cap alphabetic;
            font-size: var(--text-heading-base);
            font-family: "Material Symbols Sharp";
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            white-space: nowrap;
            text-decoration: none !important;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
            font-variation-settings:
                "FILL" 0,
                "wght" 400,
                "GRAD" 0;

            &:hover {
            background: var(--color-surface-lighter);
            }
        }

        &::scroll-button(*):disabled {
            opacity: 0;
        }

        &::scroll-button(right) {
            position-area: center span-inline-start;
            content: "arrow_forward";
            margin-inline-end: calc(-0.5 * var(--spacing-site-inline));
        }

        &::scroll-button(left) {
            position-area: span-inline-end center;
            content: "arrow_back";
            margin-inline-start: calc(-0.5 * var(--spacing-site-inline));
        }
    }
</style>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    data-slider
    {{ loopAttrs(attrs) }}
    class="@container grid overflow-x-auto overflow-y-hidden overscroll-x-contain grid-flow-col auto-cols-max snap-x snap-mandatory {{ attrs.class }}">
    {{ caller() | safe }}
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set sliderMeta = {
    args: '{% call slider(
    attrs={}
) %}
{% endcall %}',
description: "
- Use `{% caller() %}` to insert the content.
- Use `width` properties and `cqi` units on the content items to determine how many are shown at a time. i.e. `100cqi` would show one item at a time.
"
} %}
