---
title: Components
---
{% extends "layouts/document.njk" %}

{% from "components/_componentDocumentation.njk" import componentDocumentation %}
{% from "components/container.njk" import container, containerMeta %}
{% from "components/sidebar.njk" import sidebar %}
{% from "components/markdown.njk" import markdown %}
{% from "components/select.njk" import select %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set components = [
    "button",
    "accordion",
    "announcementBanner",
    "copyToClipboard",
    "slider",
    "toaster",
    "input",
    "select",
    "textarea",
    "marquee",
    "dropdown",
    "markdown",
    "container",
    "radio",
    "checkbox",
    "dialog",
    "incrementer",
    "drawer",
    "carousel",
    "figure",
    "icon",
    "section"
] %}

{% set componentSelect = [] %}
{% for component in components | sort() %}
    {% set componentSelect = (componentSelect.push({value: component, label: component}), componentSelect) %}
{% endfor %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}

{% call container({type:"sidebar", size:"base"},{
    "x-data":"{allComponents: ''}",
    "x-init":"$watch('allComponents', selected => document.getElementById(selected.value).scrollIntoView())",
    "class":"@container"
}) %}

{# Sidebar -------------------------------------------------------------------------------------------------------------------------- #}
    {% call sidebar() %}
        <section class="flex flex-col items-start gap-item-sm w-full">
            <h2 class="text-heading-sm font-semibold">Guide</h2>
            <ul class="grid items-start list-disc gap-item-sm ml-indent">
                <li class="w-min">{{ button({label:"Intro", type: "link"},{href:"#intro"}) }}</li>
            </ul>
        </section>
        <section class="flex flex-col items-start gap-item-sm w-full">
            {% call markdown({transform: false}, {class:"w-full"}) %}
                <h4 class="text-heading-sm font-semibold">All components</h4>
                <ul>
                    {% for component in components | sort() %}
                        <li><a href="#{{ component }}">{{ component }}</li>
                    {% endfor %}
                </ul>
            {% endcall %}
        </section>
    {% endcall %}

{# Mobile Select ------------------ #}
    {{ select(
        props={
            "name": "allComponents",
            "options": componentSelect,
            fieldAttrs:{
                placeholder: "Scroll to a component..."
            }
        },
        attrs={
            "class": "lg:hidden py-nav border-b border-dotted border-neutral-lighter sticky top-[var(--navbar-height)] transition-all duration-300 z-(--z-sticky) bg-surface"
        })
    }}

    <div class="border-dotted justify-items-center lg:pl-site-inline lg:border-l border-neutral-lighter">
        <div class="w-full max-w-narrow">

{# Intro -------------------------------------------------------------------------------------------------------------------------- #}

<section id="guide" class="grid w-full border-b border-dotted border-neutral-lighter mt-dialog-block pb-dialog-block gap-section-title max-w-[var(--container-sm)] max-lg:scroll-m-section">
    <h3 class="text-heading-lg truncate xl:list-disc xl:list-item">Intro</h3>
    <div class="flex flex-col gap-item-sm">
        {# <h3 class="text-base font-semibold">Intro</h3> #}
        {% call markdown({transform: true}, {class:"w-full max-w-[var(--container-sm)]"}) %}
Welcome to the design system!

This component system is made with macros from [Nunjucks](https://mozilla.github.io/nunjucks/templating.html).

All components have a `props` argument and a `attrs` argument, both of which are objects.

* `props` contains all the values needed to make the component function, like the label and style of a button.
* `attrs` is for any HTML attributes that the instance of the component requires.
        {% endcall %}
    </div>
</section>

{# Component Visualizations -------------------------------------------------------------------------------------------------------------------------- #}

<section>
    {% for component in components | sort() %}
        {% include "./documentation/" + component + ".njk" %}
    {% endfor %}
</section>

{% endcall %}
{% endblock %}
