---
layout: default
title: Form components
---
{% from "components/fields.njk" import select, input, textarea, fieldset %}
{% from "components/button.njk" import button %}
{% from "components/siteNav.njk" import siteNav %}

{{ siteNav() }}
<main
    x-data="{
        selected: '',
        checkboxes: '',
        radio: '',
        date: '',
        name: '',
        email: '',
        textarea: '',
        number: '',
        disabled: false,
    }"
    @select-sort-by.window="selected = $event.detail"
    @fieldset-checkboxes.window="checkboxes = $event.detail"
    @fieldset-radio.window="radio = $event.detail"
    @input-date.window="date = $event.detail"
    @input-name.window="name = $event.detail"
    @input-email.window="email = $event.detail"
    @input-number.window="number = $event.detail"
    @input-textarea.window="textarea = $event.detail"
    class="grid grid-cols-2 zine-store-container items-start gap-site py-section grow w-full">
    <header class="col-span-2"><h1 class="text-xl">{{ title }}</h1></header>
    <section class="gap-section-title grid max-w-3xl">
        <form class="gap-section-title grid">
            {{ fieldset({
                    type: "checkbox",
                    name: "checkboxes",
                    label: "Checkboxes",
                    options: [
                        "Scales",
                        "Weights"
                    ]
                })
            }}

            {{ fieldset({
                    type: "radio",
                    name: "radio",
                    label: "Radio",
                    options: [
                        "Scales",
                        "Weights"
                    ]
                })
            }}

            {{ select(
                props={
                "name": "sort-by",
                "label": "Sort by...",
                "options": [
                    'A-Z',
                    'Most recent'
                ],
                "description": "This area describes the field above!"},
                fieldAttrs={
                    "placeholder": "unselected",
                    "required": true
                })
            }}
            {# text #}
            {{ input(
                props={
                    "name": "name",
                    "label": "Name",
                    "description": "This area describes the field above!"
                },
                fieldAttrs={
                    "type": "text",
                    required: true
                })
            }}
            {# email #}
            {{ input(
                props={
                    "name": "email",
                    "label": "Email"
                },
                fieldAttrs={
                    "type": "email",
                    required: true,
                    "autocomplete": "off"
                })
            }}
            {# number #}
            {{ input(
                props={
                    "name": "number",
                    "label": "Number"
                },
                fieldAttrs={
                    "type": "number",
                    required: true,
                    "min": 0,
                    "max": 5,
                    "required": true
                })
            }}

            {{ textarea(
                {
                    name: "textarea",
                    label: "Bio"
                }, {
                    rows: "5",
                    required: true,
                    placeholder: "Type something here..."
                }
            ) }}

            {{ button({label: "Submit", icon:"#", type: "button"}) }}
        </form>
    </section>
    <section class="p-6 grid gap-item-gap border border-dotted border-grey bg-white-smoke">
        <h2 class="font-bold">Data</h2>
        <ul class="list-disc ml-[1.5ch]">
            <li>Checkboxes: <span x-text="checkboxes"></span></li>
            <li>Radio: <span x-text="radio"></span></li>
            <li>Selected: <span x-text="selected"></span></li>
            <li>Date: <span x-text="date"></span></li>
            <li>Name: <span x-text="name"></span></li>
            <li>Email: <span x-text="email"></span></li>
            <li>Number: <span x-text="number"></span></li>
            <li>Textarea: <span x-text="textarea"></span></li>
        </ul>
    </section>
</main>
