---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/figure.njk" import figure %}
{% from "components/slider.njk" import slider %}
{% from "components/local/sectionHeader.njk" import sectionHeader %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set navLeft %}
    {{ button({ label: "Most recent zines", size:"lg", type:"link"}, {href:"#recentZines", class:"max-lg:hidden"}) }}
    {{ button({ label:"All zines", size:"lg", type:"link"}, {href:"#allZines", class:"max-lg:hidden"}) }}
{% endset %}

{% set navRight %}
    {% include "components/local/submissionDialog.njk" %}
{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}

    {% call navbar({
        sticky: true,
        leftSide: navLeft,
        rightSide: navRight
    }) %}
    {% endcall %}

    <main class="flex flex-col w-full gap-section py-section grow">

        {% call section({tag:"header"}, {id:"hero"}) %}
            {% call container({size:"base"}, {class:"text-pretty flex flex-col gap-10"}) %}
                <h1 class="flex flex-col items-baseline justify-between gap-1 text-3xl lg:-ml-2 sm:flex-row sm:gap-2">
                    <span class="shrink-0">Zine Store</span>
                    <span class="max-sm:hidden">•</span>
                    <span class="text-xl sm:text-3xl">(Free)</span>
                </h1>
                <p class="max-w-content text-lg">{{ global.siteDescription }}</p>
            {% endcall %}
        {% endcall %}

        {# ------------------------------------------------------------------------------------------------------------------------------------- #}

        {% call section({}, {id:"recentZines"}) %}
            {% call container({}, {class:"flex flex-col gap-section-title"}) %}
                {% call sectionHeader({label: "Most recent zines"}) %}
                    <div class="hidden sm:block">
                        {% for zine in collections.zine | reverse | slice(1) %}
                            Last contribution: {{ zine.date | date("MM/dd/yyyy") }}
                        {% endfor %}
                    </div>
                {% endcall %}
                {% call slider({},{class:"gap-item py-2"}) %}
                    {% for zine in collections.zine | reverse | slice(4) %}
                        <a data-zine-shading class="relative hover:scale-[1.01] shadow-zine w-[70cqi] max-w-[312px]" href="{{ zine.url }}">
                            {{ figure(
                                props={
                                    image: global.imagesFolder + "/" + zine.fileSlug + "/" + zine.data.pages[0].image + ".jpg",
                                    alt: zine.data.title
                                },
                                attrs={class:"shadow-page"}
                            ) }}
                        </a>
                    {% endfor %}
                {% endcall %}
            {% endcall %}
        {% endcall %}

        {# ------------------------------------------------------------------------------------------------------------------------------------- #}

        {% call section({}, {id:"allZines"}) %}
            {% set data %}
                {
                    {% set comma = joiner() %}
                    zines: [{% for zine in collections.zine %} {{ comma() }} '{{ zine.url }}' {% endfor %}],
                    chooseRandom () {
                        window.location.href = this.zines[Math.floor(Math.random() * this.zines.length)];
                    }
                }
            {% endset %}
            {% call container({}, {class:"flex flex-col gap-section-title", "x-data": data }) %}
                {% call sectionHeader({label: "All zines (A-Z)"}) %}
                    <div class="hidden xs:block">{{ button({label: "Read random zine", type: "button", size:"base"}, {"@click": "chooseRandom"}) }}</div>
                {% endcall %}
                <ul class="grid gap-x-item gap-y-section-title max-xs:list-disc" style="grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );">
                    {% for zine in collections.zine | sort(false, false, "data.title") %}
                        <li class="xs:flex flex-col gap-item-sm relative items-start max-w-max max-xs:ml-[1.25ch]">
                            <div data-zine-shading class="relative max-xs:hidden shadow-zine">
                            {{ figure(
                                props={
                                    image: global.imagesFolder + "/" + zine.fileSlug + "/" + zine.data.pages[0].image + ".jpg",
                                    alt: zine.data.title
                                },
                                attrs={class:"shadow-page"}
                            ) }}
                            </div>
                            {% call button({type:"link", size:"sm"},{href:zine.url, class: "text-left scale-none! max-xs:hidden"}) %}
                                <span class="absolute inset-0"></span>
                                <span>{{ zine.data.title }}</span>
                            {% endcall %}
                            {{ button({label:zine.data.title, type:"link"}, {href:zine.url, class: "text-left xs:hidden"}) }}
                        </li>
                    {% endfor %}
                </ul>
                {{ button({label: "Read random zine", type: "button", size:"base"}, {"@click": "chooseRandom", class:"xs:hidden"}) }}
            {% endcall %}
        {% endcall %}

        {# ------------------------------------------------------------------------------------------------------------------------------------- #}

    </main>

{% endblock %}
