.zine-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.zine-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.navigation-button {
  font-size: 20px;
  line-height: 1;
  block-size: 56px;
  inline-size: 56px;
  font-weight: bold;
  flex-shrink: 0;

  &[data-action="prev-narrow"],
  &[data-action="next-narrow"] {
    display: none;
  }
}

.zine-outer {
  padding-block: 1rem;
}

.zine-inner {
  --page-flip-duration: 1000ms;
  --page-flip-easing: cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  display: flex;
  justify-self: center;
  aspect-ratio: 5.5 / 4.25;
  width: 100%;
  max-width: 780px;

  pointer-events: none;
  perspective: 2000px;
  transition: transform calc(var(--page-flip-duration) * 0.75) var(--page-flip-easing);

  display: grid;
  grid-template-columns: 1fr 1fr;

  /* places all pages on top of one another */
  & > * {
    grid-row: 1;

    &:nth-child(even) {
      grid-column: 1;
    }
    &:nth-child(odd) {
      grid-column: 2;
    }
  }

  &.front-cover {
    transform: translateX(-25%);
  }

  &.back-cover {
    transform: translateX(25%);
  }
}

.zine-page {
  position: relative;
  display: none;
  box-shadow: var(--page-shadow), var(--zine-shadow);
  backface-visibility: hidden;

  /* left pages */
  &:nth-child(even) {
    transform-origin: right;
  }

  /* right pages */
  &:nth-child(odd) {
    transform-origin: left;
  }

  &.visible {
    display: block;
  }
}

/* when navigating forward through the zine */
.zine-inner[data-direction="increment"] .zine-page {
  /* left pages */
  &:nth-child(even) {
    &.animatingIn {
      animation: leftPageFlipLeft var(--page-flip-duration) var(--page-flip-easing);
    }

    &.animatingOut {
      animation: leftPageGetCovered var(--page-flip-duration) var(--page-flip-easing);
    }
  }
  /* right pages */
  &:nth-child(odd) {
    &.animatingOut {
      animation: rightPageFlipLeft var(--page-flip-duration) var(--page-flip-easing);
    }
  }
}

/* when navigating backward through the zine */
.zine-inner[data-direction="decrement"] .zine-page {
  /* left pages */
  &:nth-child(even) {
    &.animatingOut {
      animation: leftPageFlipRight var(--page-flip-duration) var(--page-flip-easing);
    }
  }

  /* right pages */
  &:nth-child(odd) {
    &.animatingIn {
      animation: rightPageFlipRight var(--page-flip-duration) var(--page-flip-easing);
    }

    &.animatingOut {
      animation: rightPageGetCovered var(--page-flip-duration) var(--page-flip-easing);
    }
  }
}

@keyframes rightPageFlipLeft {
  from {
    display: block;
    z-index: 1;
  }
  to {
    transform: rotateY(-180deg);
  }
}

@keyframes rightPageFlipRight {
  from {
    transform: rotateY(-180deg);
  }
  to {
    display: block;
    z-index: 1;
  }
}

@keyframes rightPageGetCovered {
  from {
    display: block;
  }
}

@keyframes leftPageFlipLeft {
  from {
    transform: rotateY(180deg);
  }
}

@keyframes leftPageFlipRight {
  from {
    display: block;
    z-index: 1;
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes leftPageGetCovered {
  from {
    display: block;
  }
}

/* gradient overlay on right pages */
.zine-page:nth-child(odd)::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 5%;
  background-image: linear-gradient(to right, black, transparent 75%);
}

@media screen and (max-width: 800px) {
  .zine-navigator {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    & .zine-root {
      grid-column: 1 / 3;
    }
    & .navigation-button {
      grid-row: 2;
    }
  }

  .navigation-button {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .navigation-button[data-action="prev-wide"],
  .navigation-button[data-action="next-wide"] {
    display: none;
  }

  .navigation-button[data-action="prev-narrow"],
  .navigation-button[data-action="next-narrow"] {
    display: block;
  }

  .zine-inner {
    --narrow-width: 185%;
    width: var(--narrow-width);
    justify-self: start;

    &.right:not(.front-cover) {
      /* justify-self: end; */
      transform: translateX(calc(-1 * var(--narrow-width) / 4));
    }

    &.front-cover {
      transform: translateX(calc((-1 * var(--narrow-width) / 4) - (200% - var(--narrow-width)) / 8));
    }

    &.back-cover {
      transform: translateX(calc((200% - var(--narrow-width)) / 8));
    }
  }
}
