<div class="zine-outer">
    <div class="zine-inner flex two">
        <div class="left-page half">
            <div class="zine-page">
                <img src="{{leftPageUrl}}"></img>
            </div>
        </div>
        <div class="right-page half">
            <div class="zine-page">
                <img src="{{rightPageUrl}}"></img>
            </div>
        </div>
    </div>
</div>