<div class="zine-outer cover-view">
    <div class="zine-inner flex one">
        <div class="cover-page">
            <div class="zine-page">
                <img src="{{coverUrl}}"></img>
            </div>
        </div>
    </div>
</div>