{# Imports ----------------------------------------------------------------------------------------------------------------------------- #}

    {% from "components/toaster.njk" import toaster %}
    {% from "components/announcementBanner.njk" import announcementBanner with context %}
    {% from "components/container.njk" import container %}
    {% from "components/section.njk" import section %}
    {% from "components/navbar.njk" import navbar with context %}
    {% from "components/button.njk" import button %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set htmlStyles = "scroll-smooth scroll-p-site-block" %}
{% set bodyStyles = "font-sans text-body-base antialiased flex flex-col min-h-dvh items-center bg-surface pb-[calc(env(safe-area-inset-bottom)+var(--announcementBannerBlockSize))]" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<!DOCTYPE html>
<html
    {% if showNavbar %} {# checks if the layout template includes the navbar or not #}
        x-data="{
            scrollable: true,
            navbarHidden: false,
            navbarHeight: 0,
            lastScrollY: window.scrollY,
            hasScrolled: false,
            setHasScrolled() {
                if (this.lastScrollY > this.navbarHeight) {
                    this.hasScrolled = true
                } else {
                    this.hasScrolled = false
                }
            },
            setNavbarHeight() {
                setTimeout(() => {
                    if (this.navbarHidden) {
                        this.navbarHeight = 0;
                    } else {
                        this.navbarHeight = document.querySelector(`[x-ref='navbar']`).offsetHeight;
                    }
                }, 100);
            },
            setNavbarHidden() {
                const currentScrollY = window.scrollY;
                if (currentScrollY > this.lastScrollY && this.hasScrolled) {
                    this.navbarHidden = true
                } else if (currentScrollY < this.lastScrollY + 100  && this.hasScrolled) {
                    this.navbarHidden = false
                }
                this.setNavbarHeight()
                this.lastScrollY = currentScrollY
            },
            init() { {# sets navbar height on js load #}
                this.setNavbarHeight()
            }
        }"
        x-effect="setNavbarHeight()"
        @resize.window="setNavbarHeight()"
        @scroll.window="setHasScrolled"
        :style="{'--space-navbar-height': navbarHeight + 'px'}"
    {% endif %}
    lang="en"
    class="relative {{ htmlStyles }}">
    <head>
        {% include "snippets/htmlHead.njk" %}
    </head>
    <body
        :class="!scrollable && 'overflow-y-hidden'"
        class="{{ bodyStyles }}">

        {# Skip to content link #}
        <a class="absolute top-0 left-0 opacity-0 z-[-1111111]" href="#main" aria-label="skip to main content">Click to skip to main content</a>

        {% if global.bannerContent %}
            {{ announcementBanner({content: global.bannerContent }) }}
        {% endif %}

        {# {{ content | safe }} #}
        {% block content %}{% endblock %}

        {{ toaster() }}

        {% if environment.env == 'dev' %}
            {% include "components/_developmentWidget.njk" %}
        {% endif %}

        {% include "snippets/scripts.njk" %}
    </body>
</html>
