{% set pageTitle %}
{%- if metadata.seoTitle -%}
    {{ metadata.seoTitle }} –{% elseif title %}{{ title }} –
{% endif %}
{{- global.siteTitle -}}
{% endset %}

{% set pageDescription %}
{%- if metadata.seoDescription -%}{{- metadata.seoDescription -}}
{% else %}{{- global.siteDescription -}}
{%- endif -%}
{% endset %}

<!DOCTYPE html>
<html lang="en" class="h-dvh overflow-hidden">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle }}</title>
        <meta property="og:title" content="{{ pageTitle }}"/>
        <meta name="description" content="{{ pageDescription }}">
        <meta property="og:description" content="{{ pageDescription }}"/>
        <meta property="og:url" content="{{ global.siteDomain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ global.siteDomain }}{% if metadata.seoImage %}{{ metadata.seoImage }}{% else %}{{ global.siteImage }}{% endif %}"/>
        <meta property="og:type" content="{% if ogType %}{{ ogType }}{% else %}website{% endif %}"/>
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="icon" type="image/x-icon" href="{{ global.favicon }}">
        <link rel="stylesheet" href="/index.css">
        <script defer src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.14.9/dist/cdn.min.js"></script>
        <script defer src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>

    </head>
    <body class="font-sans text-base antialiased scroll-smooth h-full overflow-auto scroll-p-section-title flex flex-col items-center bg-gainsboro">
        {# <div class="fixed z-20 text-base pt-1">
            <span class="sm:hidden block">Less than small</span>
            <span class="hidden sm:max-md:block">Small</span>
            <span class="hidden md:max-lg:block">Medium</span>
            <span class="hidden lg:max-xl:block">Large</span>
            <span class="hidden xl:block">Extra large</span>
        </div> #}
        {{ content | safe }}
    </body>
</html>
