{% set pageTitle %}
{%- if metatdata.seoTitle -%}
    {{ metadata.seoTitle }} –{% elseif title %}{{ title }} –
{% endif %}
{{- global.siteTitle -}}
{% endset %}

{% set pageDescription %}
{%- if metadata.seoDescription -%}{{- metadata.seoDescription -}}
{% else %}{{- global.siteDescription -}}
{%- endif -%}
{% endset %}

{% from "components/button.njk" import button %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle }}</title>
        <meta property="og:title" content="{{ pageTitle }}"/>
        <meta name="description" content="{{ pageDescription }}">
        <meta property="og:description" content="{{ pageDescription }}"/>
        <meta property="og:url" content="{{ global.siteDomain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ global.siteDomain }}{% if metadata.seoImage %}{{ metadata.seoImage }}{% else %}{{ global.siteImage }}{% endif %}"/>
        <meta property="og:type" content="{% if ogType %}{{ ogType }}{% else %}website{% endif %}"/>
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="icon" type="image/x-icon" href="{{ global.favicon }}">
        {# <link rel="stylesheet" href="/bundle.css"> #}
        <link rel="stylesheet" href="/index.css">

    </head>
    <body class="font-sans text-base antialiased h-dvh overflow-auto flex flex-col items-center bg-gainsboro">
        <div class="fixed z-20">
            <span class="sm:hidden block">Less than small</span>
            <span class="hidden sm:max-md:block">Small</span>
            <span class="hidden md:max-lg:block">Medium</span>
            <span class="hidden lg:block">Large</span>
        </div>
        <nav class="zine-store-container shrink-0 grid grid-cols-2 lg:grid-cols-[1fr_auto_1fr] py-4 lg:py-8 sticky top-0 z-10 bg-gainsboro">
            <span class="justify-self-start">
                {% if page.url !== "/" %}
                    {{button(label="Home", href="/", type="link")}}
                {% endif %}
            </span>
            <span class="text-lg hidden lg:block">{{page.outputPath | replace("./_site", "") }}</span>
            <span class="justify-self-end">
                {% if page.url === "/" %}
                    {{button(label="Submit a zine", href="/submit", type="link")}}
                {% else %}
                    {{button(label="Download zine", href=pdf, type="link", attrs={download: null})}}
                {% endif %}
            </span>
        </nav>
        {{ content | safe }}
    </body>
</html>
