---
layout: page
---
{% from "components/button.njk" import button %}
{% from "components/siteNav.njk" import siteNav with context %}
{% from "components/markdown.njk" import markdown %}
{% from "components/container.njk" import container %}

{% set custom %}
    b, strong {
        color: red;
    }
{% endset %}

{% call container({size:"narrow"},{class:"py-dialog-block"}) %}
    {{ markdown({
        content: content,
        overrides: {},
        customStyles: custom
    }) }}
{% endcall %}
