---
layout: base
---
{% from "components/dropdown.njk" import dropdown %}
{% from "components/siteNav.njk" import siteNav with context %}
{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}

{% call siteNav({}) %}{% endcall %}
<main class="relative flex flex-col w-full py-section">
    {% call container({},{class:"border-b border-dark-grey border-dotted pb-section-title"}) %}<h1 class="text-2xl wrap-anywhere">{{ title }}</h1>{% endcall %}
    {# {% call container({},{class:"border-b border-dark-grey border-dotted pb-section-title"}) %}
        {{ fitText({content:title, tag:"h1"}) }}
    {% endcall %} #}
    {{ content | safe }}
</main>
