---
layout: default
---
{% from "components/button.njk" import button %}

<main class="overflow-hidden w-full flex flex-col items-center gap-4 grow relative">
    <div class="flex overflow-y-auto overflow-x-hidden flex-col items-center w-full grow">
        {% include "components/siteNav.njk" %}
        <div data-zine-part="navigator" class="zine-store-container flex flex-col lg:flex-row lg:justify-center lg:gap-10 xl:gap-20 grow">
            {{ button(props={label:"<", size:"lg", type: "button"}, attrs={class:"h-[max(25dvh,_72px)] max-w-20 grow hidden lg:flex self-center", "data-action": "prev-wide"}) }}
            <div data-zine-part="root" class="grow lg:grow-0 flex flex-col justify-center items-center perspective-zine col-start-1 col-end-3 lg:col-auto">
                <div data-zine-part="outer" class="w-full md:justify-center py-2 flex items-center relative">
                    <div data-zine-part="spread" class="relative grid grid-cols-2 justify-self-start shrink-0 lg:justify-self-center aspect-zine md:w-full max-w-3xl pointer-events-none perspective-zine front-cover">
                        {% for page in pages %}
                            <div data-zine-part="page" class="relative border border-dark-grey not-first:odd:border-l-0 not-last:even:border-r-0 backface-hidden row-start-1 row-end-2 even:col-start-1 odd:col-start-2 even:origin-right odd:origin-left">
                                <img src="{{ page.image }}" alt="{{ page.altText }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button data-action="prev-narrow" class="absolute md:hidden inset-y-0 left-0 w-1/3"></button>
                    <button data-action="next-narrow" class="absolute md:hidden inset-y-0 right-0 w-1/3"></button>
                </div>
            </div>
            {{ button(props={label: ">", size: "lg", type: "button" }, attrs={class: "h-[max(25dvh,_72px)] max-w-20 grow hidden lg:flex self-center", "data-action": "next-wide"}) }}
        </div>
        <div class="flex lg:hidden gap-site py-nav px-site w-[100vw] bg-gainsboro sticky bottom-0">
            {{ button(props={label: "<", size: "lg", type: "button"}, attrs={class: "grow hidden md:block", "data-action": "prev-wide"}) }}
            {{ button(props={label: ">", size: "lg", type: "button"}, attrs={class: "grow hidden md:block", "data-action": "next-wide"}) }}
            {{ button(props={label: "<", size: "lg", type: "button"}, attrs={class: "grow md:hidden", "data-action": "prev-narrow"}) }}
            {{ button(props={label: ">", size: "lg", type: "button"}, attrs={class: "grow md:hidden", "data-action": "next-narrow"}) }}
        </div>
    </div>
</main>
{% from "components/toast.njk" import toaster %}
{{ toaster() }}
<script defer src="/bundle.js" type="module"></script>
